.container-CaratulaVideo{
  overflow: hidden;
  width: 96%;
  height: 238px;
  margin: 1% 1% 12% 1%;
}

.image_caratulaVideo{
  display: flex;
}

.container-CaratulaVideo .container-durationTime{
  position: absolute;
  width: 24%;
  height: 150px;
}

.container-CaratulaVideo .container-durationTime .background_durationTime{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin: 0;
  width: 100%;
  height: 52%;
}

.container-CaratulaVideo:hover .container-dualIcons{
  opacity: 1;
  animation: suavecito .6s;
}

.container-CaratulaVideo .container-durationTime p{
  background-color: rgba(0, 0, 0, 0.9);
  margin: 3% 2%;
  padding:0 2%;
  font-size: .9rem;
  border-radius: 2px;
}

.container-dualIcons{
  width: 100%;
  height: 33px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 1%;
  opacity: 0;
}

.container-dualIcons i{
  background-color: rgba(0, 0, 0, 0.9);
  margin: 2%;
  padding: 2%;
  border-radius: 2px;
  font-size: 1.1rem;
}

.container-CaratulaVideo .image_caratulaVideo img{
  position: relative;
  width: 100%;
}

.container-tittles_video{width: 90%}

.container-tittles_video .tittle_video h3{
  margin: 7% 0 3% 0;
  font-size: 1rem
}

.container-description_video .photo_user_profile{
  width: 39px;
  height: 38px;
  overflow: hidden;
  border-radius: 100%;
  margin: 2% 4% auto 2%;
}

.container-description_video .photo_user_profile img{
  width: 100%;
  height: 100%;
}

.container-views{display: flex; align-items: center; font-size: .9rem}

.subtittle_video p{color: #aaaaaa; margin: 0 2%}

.container-description_video{
  display: flex;
}

@keyframes suavecito {
  from{
    opacity: 0
  }
  to{
    opacity: 1
  }
}
