header{
  width: 100%;
  background-color: #202020;
  overflow: hidden;
  position: fixed;
  z-index: 100;
  top: 0;
  opacity: .98
}

.container-input_search .container-icon_search,
.container-icon_micro,
.container-category,
.container-logo_tuvideo
{
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  margin: auto;
  height: 8vh;
  box-sizing: border-box;
  padding: 2% 0;
}

.container-logo_tuvideo{margin: 0 5%;}

.container-logo_tuvideo i{font-size: 1.8rem; color: red; margin:1%}
.container-logo_tuvideo .logo_tuvideo{margin: 0 4%; color: #fff; font-weight: bold; font-size: 1.4rem}

.container-input_search,
.container-icon_menu_logo{
  display: flex;
  align-items: center;
}

.container-icon_menu_logo .icon-menu{
  margin:0;
  font-size: 1.7rem;
}

.container-icon_menu_logo{width: 18%;}
.container-setting_apps{width: 16%}
.container-input_search{width: 55%;}

.container-input_search input{
  width: 75%;
  padding: 0 1%;
  background-color: #121212;
  border: 1px solid #323232;
  color: #818181;
  height: 30px;
}

.container-input_search .container-icon_search{
  background-color: #323232;
  height: 30px;
  width: 60px;
  border: 1px solid #323232;
}

.container-icon_micro{
  background-color: #121212;
  border-radius: 100%;
  margin: 0 2%;
  width: 35px;
  height: 35px;
}

.container-setting_apps{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container-setting_apps i{
    font-size: 1.4rem;
}

.user_img{
  width: 35px;
  height: 35px;
  overflow: hidden;
  border-radius: 100%
}

.container-header_category{
  width: 100%;
  border-top: 1px solid #373737;
  display: flex;
  height: 53px;
  margin: 0 0 0 19%;
}

.container-category{
  margin: 8px;
  box-sizing: border-box;
  border-top-left-radius: 50vh;
  border-top-right-radius: 50vh;
  border-bottom-left-radius: 50vh;
  border-bottom-right-radius: 50vh;
  padding: 0 2%;
}

.container-category a{margin: 10% 0; text-decoration: none; color: #fff}

@media only screen and (max-width: 720px){
  .container-input_search input,
  .icon-video-camera,
  .icon-stack,
  .icon-bell,
  .container-icon_micro,
  .icon-menu
  {display: none}

  .container-input_search .container-icon_search
  {background-color: transparent;
  border: none}

  .container-icon_menu_logo{width: 68%}

  .container-header{width: 100%;}

  .container-input_search
  {width: 0}

  .container-header_category{margin: 0; overflow: auto; height: 68px;}
  .container-category{padding: 0 4%}
}

@media only screen and (max-width: 600px){
  .container-header{height: 55px}
  .container-header_category{margin: 0; overflow: auto; height: 58px;}
}
