.container-ItemSubscritions{
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  padding: 5% 18.5%;
}

.container-ItemSubscritions img{
  width: 23px;
  height: 23px;
  border-radius: 100%;
}

.container-ItemSubscritions p{margin: 0}
.btn_subcription-img_user .container-ItemSubscritions p{color: #fff}
.btn_subcription-img_user .container-ItemSubscritions{padding: 5% 26% 5% 1%}
