@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?dvtial');
  src:  url('fonts/icomoon.eot?dvtial#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?dvtial') format('truetype'),
    url('fonts/icomoon.woff?dvtial') format('woff'),
    url('fonts/icomoon.svg?dvtial#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home3:before {
  content: "\e902";
}
.icon-video-camera:before {
  content: "\e914";
}
.icon-podcast:before {
  content: "\e91c";
}
.icon-mic:before {
  content: "\e91e";
}
.icon-stack:before {
  content: "\e92e";
}
.icon-compass2:before {
  content: "\e94a";
}
.icon-history:before {
  content: "\e94d";
}
.icon-clock:before {
  content: "\e94e";
}
.icon-bell:before {
  content: "\e951";
}
.icon-keyboard:before {
  content: "\e955";
}
.icon-display:before {
  content: "\e956";
}
.icon-drawer:before {
  content: "\e95c";
}
.icon-drawer2:before {
  content: "\e95d";
}
.icon-search:before {
  content: "\e986";
}
.icon-cog:before {
  content: "\e994";
}
.icon-trophy:before {
  content: "\e99e";
}
.icon-list:before {
  content: "\e9ba";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-flag:before {
  content: "\e9cc";
}
.icon-smile:before {
  content: "\e9e1";
}
.icon-sad:before {
  content: "\e9e5";
}
.icon-question:before {
  content: "\ea09";
}
.icon-checkmark:before {
  content: "\ea10";
}
.icon-play3:before {
  content: "\ea1c";
}
.icon-pause2:before {
  content: "\ea1d";
}
.icon-previous2:before {
  content: "\ea23";
}
.icon-next2:before {
  content: "\ea24";
}
.icon-volume-medium:before {
  content: "\ea27";
}
.icon-volume-low:before {
  content: "\ea28";
}
.icon-volume-mute:before {
  content: "\ea29";
}
.icon-volume-mute2:before {
  content: "\ea2a";
}
.icon-circle-right:before {
  content: "\ea42";
}
.icon-share:before {
  content: "\ea7d";
}
.icon-youtube:before {
  content: "\ea9d";
}
.icon-flickr:before {
  content: "\eaa3";
}
.icon-steam:before {
  content: "\eaac";
}
